include ./layout

block content
  div.section.no-pad-bot
    div.container
      div.row
        div.col.s12.m8.l8
          each minimalPost in minimalPosts
            div
              a(href=minimalPost.link)
                h4.green-text=minimalPost.title
                img(src=minimalPost.thumbnail, alt='a')
              p Published #{minimalPost.pubDate}
              p Tags: #{minimalPost.categories.join(", ")}
            hr
        div.col.s12.m4.offset-l2.l2
          div.card
            div.card-image
              img(src="/assets/custom/images/profile-picture-2018.jpg", alt="Me")
            div.card-content
              span.card-title Øyvind Ødegård
              div
                span DevOps Engineer
                br
                a(href="https://www.di.no/")  @ Distribution Innovation
          div.card
            div.card-content
              div.card-title
                h5 Podcasts
              div
                a(href="https://podcasts.google.com/?feed=aHR0cHM6Ly9zbWlkaWdwb2RkZW4ucG9kYmVhbi5jb20vZmVlZC54bWw&episode=c21pZGlncG9kZGVuLnBvZGJlYW4uY29tL2VjYTM4MmU3LThjOTctNWVjZi1iZTgwLWFjNzM1YWM0MzA1Mw") Smidig Podden 17/02/20
          div.card
            div.card-content
              div.card-title
                h5 Bookshelf
              div
                a(href="https://www.amazon.com/DevOps-Handbook-World-Class-Reliability-Organizations/dp/1942788002")
                  img.responsive-img(src="/assets/vendor/image/devops-handbook.jpg", alt="DevOps Handbook")
              div
                a(href="https://www.amazon.com/Power-Habit-Why-What-Change/dp/B007RJCK1E")
                  img.responsive-img(src="/assets/vendor/image/the-power-of-habit.jpg", alt="The Power of Habit")
              div
                a(href="https://www.amazon.com/Continuous-Delivery-Deployment-Automation-Addison-Wesley/dp/0321601912")
                  img.responsive-img(src="/assets/vendor/image/continuous-delivery.jpg", alt="Continuous delivery")
              div
                a(href="https://www.amazon.com/Release-Production-Ready-Software-Pragmatic-Programmers/dp/0978739213")
                  img.responsive-img(src="/assets/vendor/image/release-it.jpg", alt="Release It!")

